{% extends "layoutB.html" %}

{% block title %}
  <title>Create Path</title>
{% endblock title %}

{% block style %}
  <link rel="stylesheet" href="/styles/createPath.css">
{% endblock style %}
</head>

{% block content %}
  <div class="content">
    <nav>
      <h1 id="myLogo">MK</h1>
      <a id="return" href="/">
        <span id="img"></span>
        Return
      </a>
    </nav>

    <form action="/createPath" method="POST">
      <h1>Create Path</h1>

      <fieldset>
        <label for="title">Path Title</label>
        <input name="title" id="title" type="text" required>
  
        <div class="fieldgroup">
          <label for="priority">Priority: <span>unlisted</span></label>
          <input name="priority" id="priority" type="range" max="2" min="0" value="0">
        </div>
  
        <label for="description">Path description</label>
        <textarea name="description" id="description" cols="40" rows="5" placeholder="The description of your pathing, remember to explain why you want to do this." required></textarea>
      </fieldset>

      <button type="submit">Create</button>
    </form>
  </div>

{% endblock content %}