<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>in work</title>

  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/dashboard.css">
</head>
<body>
  <div class="content">
    <nav>
      <h1 id="myLogo">MK</h1>
      <a href="#" id="user">
        <h3 id="userName">Marcelo Kochiyama</h3>
        <div id="userImg">
        </div>
      </a>
    </nav>

    <div class="container">
      {% for i in [1, 2, 3, 4, 5, 6] %}
      <div class="path">
        <div class="pathHeader">
          <h2 class="pathName">Pathing Name</h2>
          <button class="pathImportancy"></button>
        </div>

        <p class="pathContent">
          Pathing description
        </p>

        <div class="pathFooter">
          <img id="pathComplete" src="/assets/check-square-solid.svg" alt="complete Path">
          <p>10/15 completed</p>
          <img id="pathDelete" src="/assets/trash-solid.svg" alt="Delete Path">
        </div>
      </div>
      {% endfor %}
    </div>
    <footer>
      <a href="">
        <img src="/assets/plus-circle-solid.svg" alt="">
        <span>Create Path</span>
      </a>
    </footer>
</body>
</html>